## MySql Connection

In [19]:
from sqlalchemy import create_engine

In [20]:
database_user_id = "root"
database_user_password = "hx687099"

database_url = "mysql+pymysql://" + \
    database_user_id + ":" + database_user_password + "@localhost"
database_url

'mysql+pymysql://root:hx687099@localhost'

In [21]:
%reload_ext sql

In [22]:
%sql $database_url

'Connected: root@None'

In [23]:
sqla_engine = create_engine(database_url)

## Load Data

In [24]:
import pandas as pd

### Course Evaluation Data

In [25]:
df = pd.read_csv('course_evaluation.csv')

In [26]:
df.to_sql(
    "course_evaluation", con=sqla_engine, if_exists="replace", index=False,
    schema="6156_Project")

In [27]:
%%sql

use 6156_Project;

select * from course_evaluation limit 10

 * mysql+pymysql://root:***@localhost
0 rows affected.
10 rows affected.

[('CBMF4761', 'COMPUTATIONAL GENOMICS', "PE'ER, ITSIK", 3.5635369808260355, 3.193337237829428, 3.556817953816505, 3.883950188783525, 243),
 ('COMS4111', 'INTRODUCTION TO DATABASES', 'FERGUSON, DONALD F', 3.972876882330079, 4.129584017487091, 4.7055001635480105, 4.889985360549003, 452),
 ('COMS4111', 'INTRODUCTION TO DATABASES', 'WU, EUGENE', 4.333473014442121, 3.319501639994882, 4.509628532960762, 4.524614596872517, 302),
 ('COMS4111', 'INTRODUCTION TO DATABASES', 'BILIRIS, ALEXANDROS', 3.169836007617905, 4.180608207653702, 3.899328294256144, 4.326166473380578, 407),
 ('COMS4112', 'DATABASE SYSTEM IMPLEMENT', 'ROSS, KENNETH A', 4.697249835863322, 4.12169613806481, 3.486186555861236, 4.7584269054085615, 435),
 ('COMS4113', 'FUND-LARGE-SCALE DIST SYS', 'GEAMBASU, ROXANA', 3.745035988717527, 3.164262457013934, 3.772413768339793, 3.031984242845763, 207),
 ('COMS4115', 'PROGRAMMING LANG & TRANSL', 'GU, RONGHUI', 4.427411353850709, 4.926126591599543, 3.460819236612429, 4.015584802638381, 320),
 ('COMS4118', 'OPERATING SYSTEMS I', 'LEE, JAE W', 4.053657297799601, 4.642865661927717, 4.918581153317797, 4.708207265035868, 288),
 ('COMS4170', 'USER INTERFACE DESIGN', 'CHILTON, LYDIA', 4.552919082095588, 4.7954789652536896, 4.927118630192556, 3.157544554946136, 305),
 ('COMS4172', '3D UI AND AUGMENTED REALI', 'FEINER, STEVEN K', 4.363745269228764, 3.807965944830952, 3.2840463018588872, 3.021002701615532, 420)]

In [28]:
%sql describe course_evaluation

 * mysql+pymysql://root:***@localhost
8 rows affected.

[('Course', 'text', 'YES', '', None, ''),
 ('CourseSubtitle', 'text', 'YES', '', None, ''),
 ('Instructor1Name', 'text', 'YES', '', None, ''),
 ('Workload', 'double', 'YES', '', None, ''),
 ('Accessibility', 'double', 'YES', '', None, ''),
 ('Delivery', 'double', 'YES', '', None, ''),
 ('Difficulty', 'double', 'YES', '', None, ''),
 ('Cnt', 'bigint', 'YES', '', None, '')]